GMAIL_ADDRESS=you@company.com
GMAIL_APP_PASSWORD=xxxx-xxxx-xxxx-xxxx
RECIPIENT_1=boss1@company.com
RECIPIENT_2=boss2@company.com
TELEGRAM_BOT_TOKEN=123456:ABC-DEF1234ghIkl-zyx57W2v1u123ew11
TELEGRAM_CHAT_ID=123456789
SENDER_NAME="Prénom Nom"
HF_TOKEN=hf_xxx-xxx-xxx-xxx